@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin : 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2
}

.contenedor{
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: #bdbdbd;
    color: #031926;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 20px 35px #f4e9cd;
}

form input{
    width:92%;
    outline:none;
    padding:.5rem;
    border:1px solid #bdbdbd;
    border-radius: 5px;
    margin-bottom: 10px;
    font: size 15px;
    background-color: white;

}

label{
    font-size: 20px;
    float: left;
}

.button{
    font-size:20px;
    font-weight:bold;
    text-decoration:none;
    padding: 10px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: #031926;
    color: white;
    cursor:pointer;
}

.button:hover{
    background-color: rgb(153,100,226);
    color: #fff;
}

.Boton_Ingresar{
    color: #031926;
    font-size: 20px;
}